<div class="container">
	<div class= "row landing-main align-items-center">
		<div class= "landing-title text-center">
			<p class="landing-title-text">Crate-Track</p>
		</div>
	</div>
	<div class="row intro-p"> <div class="col-xs-3"></div>
		<div class="col-xs-6 text-center"> Catalogue your record collection with Crate Track. Search through an exhaustive database to find the exact edition of the copy you own. Share your collection with others, or take a look at theirs.</div>
		<div class="col-xs-3"></div>
	</div>
</div>