<!DOCTYPE html>
<html>
<head>
	<title>Auth Boilerplate</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <link rel="style/css" href="/css/style.css"> -->
</head>
<body>

		<div class="container">
		<hr>
		<a href="/" class="btn btn-lg btn-primary">Home Page</a>
		<a href="/profile" class="btn btn-lg btn-info">Profile</a>
		<a href="/update" class="btn btn-lg btn-info">Search Albums</a>
		<a href="/auth/signup" class="btn btn-lg btn-info">Sign Up</a>

	</div>
	
	<%include partials/navbar%>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<%- include partials/alerts%>
				<%- body %>
			</div>			
		</div>		
	</div>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</body>
</html>