<h2>Search Prospect</h2>

<form method="get" action="/search/">
	<input type="text" name="q" placeholder="Search album here" class="form-control">
	<input type="text" name="a" placeholder="Artist Name" class="form-control">
	<input type="text" name="c" placeholder="Catalogue Number" class="form-control">
	<input type="text" name="y" placeholder="Year" class="form-control">
	<input type="text" name="s" placeholder="Serial Number" class="form-control">
	<input type="submit">
</form>