/**********************/
/*LAYOUT.JS STYLE BLOCK*/
html,
body {
  height: 100%;
  background-color: black;
}

.navigation {
	background-color: black;
	border-bottom: 1px solid white;
	color: white;
}

.nav-buttons {
	color: white !important;
}

.form-button {
	background: black;
	color: white;
	border: 1px solid white;
}

.form-group {
	color: white;
}

/**********************/
/*HOME STYLE BLOCK*/

.landing-title-text  {
	color: #ffffff;
	position: relative;
	top: 220px;
	font-size: 75px;
}

.intro-p {
	position: relative;
	color: #ffffff;
	top: 220px;
}


/**********************/
/*SEARCH STYLE BLOCK*/

.search-main {
	background-color: black;
	position: absolute;
	top: 250px;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.form-control {
	padding: 10px;
	margin: 10px;
	color: white;
	background-color: black;
}

.form-search {
	margin: 25px;
}

.search-submit {
	position: relative;
	left: 50%;
	background: white;
	color: black;
}

.header-row {
	position:relative;
	top: 75px;
	color: white;
}

.info-p {
	position: relative;
	top: 100px;
	color: white;
}

/**********************/
/*PROFILE STYLE BLOCK*/

.delete-button {
	background-color: black;
	color: white;
	position: relative;
	top: 13px;
	left: 133px;
}

/**********************/
/*RESULTS STYLE BLOCK*/

.results-container {
	position: absolute;
	left: 85px;
	top: 200px;
}
.results-well {
	height: 330px;
	width: 300px;
	margin: 8px;
	background-color: black;
	border-radius: 2px;
	border: solid white 2px;
}

.results-title-year {
	background-color: rgba(255,255,255,0.5);
	margin-top: 10px;
	border-radius: 3px;
	color: white;
}

.results-img {
	margin: 17px;
}

.next-page-well {
	background-color: white;
	width: 100px;
	position: relative;
	left: 800px;
}




/**********************/
/*ALBUM STYLE BLOCK*/

.add-crate {
	background: white;
	border: 1px solid black;
	border-radius: 2px;
	position: relative;
	top: 15px;
}







